* {
  margin: 0;
}

body {
  background-color: #fff;
}

.section-padding {
  padding: 100px 0;
}

.navbar {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.navbar-inner {
  background: transparent;
}

.nav-item {
  font-size: 17px;
  letter-spacing: 3px;
}

.banner-img {
  background: linear-gradient(0deg, #2790c9, #c9ebfb);
  height: 90vh;
}

.racao-img {
  bottom: 20px;
}

.text-our-story {
  padding-left: 160px;
}

.our-story h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin: 0;
  font-size: 42px;
  color: #4b252e;
}

.our-story h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin: 0;
  font-size: 100px;
  color: #00a4d3;
}

.our-story p {
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
}

.btn-our-story {
  border: none;
  background-color: #ffff;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: #00a4d3;
  margin-top: 10px;
}

.banner-chicken {
  background-image: url("assetsjpg/Chicken\ Image.png");
  background-size: cover;
  background-position: bottom;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-size: cover;
}

.chicken-section .row {
  height: 349px;
}

.chicken-section h4 {
  font-family: "Amatic SC", cursive;
  font-size: 33px;
  color: #fff;
}
.chicken-section h3 {
  font-size: 63px;
  color: #fff;
  font-weight: bold;
  font-family: "Amatic SC", cursive;
}

.chicken-section p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
}

.btn-default {
  font-size: 17px;
  font-weight: bold;
  width: fit-content;
  height: 54px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  background-color: #00a4d3;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
}

.intro-text {
  width: 70%;
}

.intro-text h3 {
  font-size: 54px;
  color: #4b252e;
  font-weight: bold;
  font-family: "Amatic SC", cursive;
}

.intro-text p {
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
}

.learn-about-section {
  background-color: #f0f1f1;
}

.right-food-section h4,
.learn-about-section h4 {
  font-weight: bold;
  font-family: "Amatic SC", cursive;
  color: #452a31;
  font-size: 33px;
}

.right-food-section p,
.learn-about-section p {
  color: #3d3d3d;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
}

.form-control {
  font-family: "Montserrat", sans-serif;
  background: none;
  border-color: #808080;
  border-style: solid;
  border-bottom-width: 1px;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  margin-bottom: 16px;
  border-radius: 0;
}

.footer-container {
  background-color: #efeff1;
  width: 90%;
}

.dog-footer-img {
  display: flex;
  align-self: flex-end;
  justify-content: flex-start;
}

.link-footer {
  font-weight: bold;
  font-size: 17px;
  color: #452a31;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

.link-footer:hover {
  color: #493439;
}

.link-footer:active {
  color: #452a31;
}

.rights-company {
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  color: #010101;
}

@media (max-width: 992px) {
  .navbar {
    padding: 0;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }

  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .show > .nav-link {
    color: #452a31;
  }

  .banner-header .row {
    margin-top: 30%;
  }

  .banner-header img {
    width: 100%;
  }

  .banner-img {
    height: 100%;
  }

  .racao-img {
    position: inherit !important;
  }

  .dog-right {
    width: 100%;
    position: inherit !important;
  }

  .text-our-story {
    padding: 0;
  }

  .our-story {
    text-align: center;
  }

  .ration-img-sm {
    margin-top: 15%;
  }

  .intro-dog-section .row {
    padding: 0 !important;
  }

  .intro-dog-section button {
    margin: 10px 0 100px 0;
  }

  .intro-dog-section img {
    width: 100%;
  }

  .intro-text {
    width: 100%;
    text-align: center;
  }

  .learn-about-section img {
    position: inherit !important;
    margin: 50px 0 50px 0;
  }

  .right-food-section img {
    margin-bottom: 50px;
  }

  .btn-default {
    width: 100%;
  }

  .dog-footer-img {
    order: 6 !important;
  }

  .row-links {
    text-align: center;
  }
}
